name: Build

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  code-style:
    uses: ./.github/workflows/code-style.yml

  tests:
    uses: ./.github/workflows/tests.yml

  build:
    runs-on: ubuntu-latest

    needs:
      - code-style
      - tests

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Lowercase Repository Name
      id: repository
      uses: Entepotenz/change-string-case-action-min-dependencies@v1
      with:
        string: ${{ github.repository }}

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image (tag)
      if: startsWith(github.ref, 'refs/tags/')
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/${{ steps.repository.outputs.lowercase }}:${{ github.ref_name }}
          ghcr.io/${{ steps.repository.outputs.lowercase }}:latest

    - name: Build and push Docker image (push)
      if: startsWith(github.ref, 'refs/heads/main')
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/${{ steps.repository.outputs.lowercase }}:${{ github.sha }}
          ghcr.io/${{ steps.repository.outputs.lowercase }}:latest
